main.subpage {
        min-height: 100vh;
        width: 80%;
        margin: auto;
        margin-top: 100px;
}

.imageplaceholder {
    width:100%;
    height:400px;
    background-color:violet;
    background-image: url("images/biksdesk.jpg");
    background-size:auto;
}

.imageplaceholder-to {
    width:100%;
    height:500px;
    background-image: url("images/melone.jpeg");
    background-size: 100%;
}

.imageplaceholder-tre {
    width:100%;
    height:500px;
    background-image: url("images/hasle.jpg");
    background-size: 100%;
}

.articleheader {
    width: 80%;
    text-align:center;
    margin:auto;
    position:relative;
    bottom:100px;
    background-color:white;

    padding-top:60px;
}

h1{
    width: 100%;
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom:40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-weight: 100;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    width: 70%;
    text-align: center;
    margin: auto;
}

h3 {
    font-size: 25px;
    font-weight: 50px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    margin: auto;
}

p, h3{
    width: 70%;
    margin: auto;
}
hr{
    width:100px;
    margin:auto;
    margin-bottom:20px;
    border-width: 1px;
    height: 1px;
}

.subpage .articleheader p{
    text-align:center;
}

p{
    margin-top:30px;
    margin-bottom:30px;
    font-size: 15pt;
    text-align:left;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
}

#læs-også a {
    color: rgb(133, 133, 13);
    text-decoration: underline;
    cursor: pointer;
}

.image-container {
    background-color: red;

    /*Centrere billedet*/
    height: 500px;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
}

.image-container img {
    /*Centrere billedet*/
    width: 100%;
}

/*Billeder*/

.kødto {
    background-image: url(images/kød2.png);
    width: 100%;
    background-position: center;
    background-size: cover;
}

.rulleto {
    background-image: url(images/rulle2.png);
    width: 100%;
    background-size: cover;
}

.melondesk {
    background-image: url(images/melonedesk.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.burgermelon {
    background-image: url(images/burgerburger.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}